{{ 'onboarding.css' | asset_url | stylesheet_tag }}
<script src="{{ 'onboarding.js' | asset_url }}" defer="defer"></script>

<section id="onboarding">
  <div class="rec-form__wrapper">
    <div>
      <label for="email">Enter Email</label><br>
      <input type="email" id="email"><br>
      <label for="birthdate-1">Child Date of Birth</label><br>
      <input type="date" id="birthdate-1"><br>
      <label for="subscription-variant">Enter Subscription Toy Number</label><br>
      <input type="number" id="subscription-variant" value="5"><br>
    </div>
    <button class="mt1" type="button" id="preview-button">Preview</button>
  </div>
  <div id="rec-display__header" class="hide text-align--center mt2">
    <h4>Our recommendations for Child's Name</h4>
    <p>If you want to make changes do something</p>
  </div>
  <div class="rec-display__wrapper"></div>
  <div id="rec-display__buttons" class="hide">
    <div class="button-wrapper">
      <button class="btn mt1" type="button">Checkout</button>
      <button id="swap-button" class="btn mt1" type="button">Swap</button>
    </div>
  </div>
  <div class="rec-swap__wrapper">
    <div class="rec-swap__recommendations-display"></div>
    <div id="available__container" class="rec-swap__available-display visibility--hidden--js-only">
      {% render 'collection-swap-template' %}
    </div>
    <div class="rec-swap__my-selections-display"></div>
  </div>
</section>

{% schema %}
{
  "name": "Onboarding",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}