/* CSS Variables - Tiny Earth Toys v2 Design System 
        Color variables need to be assigned to the corresponding rgb values without rgb(). This allows us access it in different instances of rbga format.
*/

:root {
    /* Base Colors */
    
        --te-base--white: 255,255,255;
        --te-base--black: 34,31,32;
        --te-base--cream-light: 252,251,250;
        --te-base--cream-dark: 242,238,232;
    
    /* Grayscale */
    
        --te-gray--25: 253,253,252;
        --te-gray--50: 250,250,249;
        --te-gray--100: 245,245,244;
        --te-gray--200: 231,229,228;
        --te-gray--300: 215,211,208;
        --te-gray--400: 169,162,157;
        --te-gray--500: 121,113,107;
        --te-gray--600: 87,83,78;
        --te-gray--700: 68,64,60;
        --te-gray--800: 41,37,36;
        --te-gray--900: 28,25,23;
    
    /* Primary Color */
    
        --te-teal--25: 245,248,249;
        --te-teal--50: 204,221,223;
        --te-teal--100: 163,194,197;
        --te-teal--200: 122,166,171;
        --te-teal--300: 82,137,144;
        --te-teal--400: 41,108,117;
        --te-teal--500: 0,78,89;
        --te-teal--600: 0,66,79;
        --te-teal--700: 0,55,69;
        --te-teal--800: 0,44,59;
        --te-teal--900: 0,34,48;
    
    /* Accent Colors - Frequently Used */
    
        --te-silver--25: 254,253,252;
        --te-silver--50: 249,243,240;
        --te-silver--100: 243,233,229;
        --te-silver--200: 238,224,217;
        --te-silver--300: 232,214,206;
        --te-silver--400: 226,205,195;
        --te-silver--500: 220,196,184;
        --te-silver--600: 193,173,160;
        --te-silver--700: 66,149,137;
        --te-silver--800: 139,125,114;
        --te-silver--900: 111,101,91;
    
        --te-moss--25: 250,251,249;
        --te-moss--50: 229,236,223;
        --te-moss--100: 208,220,197;
        --te-moss--200: 187,204,172;
        --te-moss--300: 166,188,147;
        --te-moss--400: 144,171,122;
        --te-moss--500: 123,154,98;
        --te-moss--600: 106,136,85;
        --te-moss--700: 89,117,72;
        --te-moss--800: 72,98,59;
        --te-moss--900: 57,79,47;
    
        --te-aqua--25: 45,252,252;
        --te-aqua--50: 204,238,241;
        --te-aqua--100: 163,224,228;
        --te-aqua--200: 122,208,215;
        --te-aqua--300: 82,192,200;
        --te-aqua--400: 41,174,185;
        --te-aqua--500: 0,155,169;
        --te-aqua--600: 0,132,151;
        --te-aqua--700: 0,110,131;
        --te-aqua--800: 0,88,111;
        --te-aqua--900: 0,68,90;
    
        --te-baby-blue--25: 250,252,254;
        --te-baby-blue--50: 228,240,250;
        --te-baby-blue--100: 206,228,245;
        --te-baby-blue--200: 185,215,240;
        --te-baby-blue--300: 165,202,235;
        --te-baby-blue--400: 145,189,229;
        --te-baby-blue--500: 126,176,222;
        --te-baby-blue--600: 109,151,196;
        --te-baby-blue--700: 92,126,169;
        --te-baby-blue--800: 76,103,142;
        --te-baby-blue--900: 60,80,114;
    
    /*Accent Colors - Less Frequently Used */
    
        --te-lime--25: 254,254,249;
        --te-lime--50: 252,251,226;
        --te-lime--100: 248,247,204;
        --te-lime--200: 244,243,182;
        --te-lime--300: 240,239,161;
        --te-lime--400: 235,234,140;
        --te-lime--500: 235,234,140;
        --te-lime--600: 198,202,103;
        --te-lime--700: 168,175,87;
        --te-lime--800: 138,147,71;
        --te-lime--900: 109,118,56;
    
        --te-honey--25: 255,252,246;
        --te-honey--50: 253,242,210;
        --te-honey--100: 250,231,175;
        --te-honey--200: 246,220,141;
        --te-honey--300: 242,209,107;
        --te-honey--400: 236,198,75;
        --te-honey--500: 229,186,44;
        --te-honey--600: 203,171,36;
        --te-honey--700: 177,153,28;
        --te-honey--800: 149,134,21;
        --te-honey--900: 121,112,16;
    
        --te-pink--25: 254,253,253;
        --te-pink--50: 249,245,246;
        --te-pink--100: 244,237,240;
        --te-pink--200: 239,229,233;
        --te-pink--300: 234,221,226;
        --te-pink--400: 228,214,219;
        --te-pink--500: 223,206,212;
        --te-pink--600: 195,180,185;
        --te-pink--700: 168,154,158;
        --te-pink--800: 140,128,131;
        --te-pink--900: 112,102,104;
    
        --te-coral--25: 255,248,248;
        --te-coral--50: 252,219,219;
        --te-coral--100: 249,192,190;
        --te-coral--200: 245,166,163;
        --te-coral--300: 241,140,136;
        --te-coral--400: 235,116,110;
        --te-coral--500: 229,92,85;
        --te-coral--600: 203,83,72;
        --te-coral--700: 176,74,60;
        --te-coral--800: 148,64,48;
        --te-coral--900: 120,54,38;
    
    /* Feedback Colors */
    
        --te-error-red--25: 255,251,250;
        --te-error-red--50: 254,243,242;
        --te-error-red--100: 254,228,226;
        --te-error-red--200: 254,205,202;
        --te-error-red--300: 253,162,155;
        --te-error-red--400: 249,112,102;
        --te-error-red--500: 240,68,56;
        --te-error-red--600: 217,45,32;
        --te-error-red--700: 180,35,24;
        --te-error-red--800: 145,32,24;
        --te-error-red--900: 122,39,26;
    
        --te-warning-yellow--25: 255,252,245;
        --te-warning-yellow--50: 255,250,235;
        --te-warning-yellow--100: 254,240,199;
        --te-warning-yellow--200: 254,223,137;
        --te-warning-yellow--300: 254,200,75;
        --te-warning-yellow--400: 253,176,34;
        --te-warning-yellow--500: 247,144,9;
        --te-warning-yellow--600: 220,104,3;
        --te-warning-yellow--700: 181,71,8;
        --te-warning-yellow--800: 147,55,13;
        --te-warning-yellow--900: 147,55,13;
    
        --te-success-green--25: 246,254,249;
        --te-success-green--50: 236,253,243;
        --te-success-green--100: 209,250,223;
        --te-success-green--200: 166,244,197;
        --te-success-green--300: 108,233,166;
        --te-success-green--400: 50,213,131;
        --te-success-green--500: 18,183,106;
        --te-success-green--600: 3,152,85;
        --te-success-green--700: 2,122,72;
        --te-success-green--800: 5,96,58;
        --te-success-green--900: 5,79,49;
    
    /* Set Base Background and Base Text colors here: using variables defined in base-variables.css */
        --te-base--background: var(--te-base--cream-light);
        --te-base--text: var(--te-gray--700);

    /* Gradients - v2 Design System */

        --gradient-conic-gray-600: conic-gradient(from 259.08deg at 50% 50%, #57534E 0deg, rgba(87, 83, 78, 0) 360deg);
        --gradient-conic-teal-600: conic-gradient(from 259.08deg at 50% 50%, #004E59 0deg, rgba(0, 78, 89, 0) 360deg);

        --gradient-linear-gray-90-600-500: linear-gradient(90deg, #57534E 0%, #79716B 100%);
        --gradient-linear-gray-45-700-600: linear-gradient(45deg, #44403C 0%, #57534E 100%);
        --gradient-linear-gray-45-800-600: linear-gradient(45deg, #292524 0%, #57534E 100%);
        --gradient-linear-gray-90-800-600: linear-gradient(63.44deg, #292524 16.72%, #57534E 83.39%);
        --gradient-linear-gray-26-800-700: linear-gradient(26.57deg, #292524 8.33%, #44403C 91.67%);
        --gradient-linear-gray-45-900-600: linear-gradient(45deg, #1C1917 0%, #57534E 100%);

        --gradient-linear-teal-90-600-400: linear-gradient(90deg, #00424F 0%, #296C75 100%);
        --gradient-linear-teal-45-700-500: linear-gradient(45deg, #003745 0%, #004E59 100%);
        --gradient-linear-teal-45-800-600: linear-gradient(45deg, #002C3B 0%, #00424F 100%);
        --gradient-linear-teal-90-800-600: linear-gradient(63.44deg, #002C3B 16.72%, #00424F 83.39%);
        --gradient-linear-teal-26-900-700: linear-gradient(26.57deg, #002230 8.33%, #003745 91.67%);
        --gradient-linear-teal-45-900-600: linear-gradient(45deg, #002230 0%, #00424F 100%);


    /* Typography - v2 Design System */
    
        --te-font-family--body: 'Raleway';
        --te-font-family--heading: 'Poppins';

    /* Grids & Spacing - v2 Design System */
    
        --te-spacing-1: .25rem;
        --te-spacing-2: .5rem;
        --te-spacing-3: .75rem;
        --te-spacing-4: 1rem;
        --te-spacing-5: 1.25rem;
        --te-spacing-6: 1.5rem;
        --te-spacing-8: 2rem;
        --te-spacing-10: 2.5rem;
        --te-spacing-12: 3rem;
        --te-spacing-16: 4rem;
        --te-spacing-20: 5rem;
        --te-spacing-24: 6rem;
        --te-spacing-32: 8rem;
        --te-spacing-40: 10rem;
        --te-spacing-48: 12rem;
        --te-spacing-56: 14rem;
        --te-spacing-64: 16rem;
    

        /* continer sizes */
        --te-container-sm: 40rem;
        --te-container-md: 48rem;
        --te-container-lg: 64rem;
        --te-container-xl: 80rem;
    
    
        --te-media-border-radius: 16px;
        --te-button-border-radius: 40px;
    /* Logos - v2 Design System */
    
    /* Icons - v2 Design System */
    
    /* Shadows & Blurs - v2 Design System */
    
      --te-shadow--xs: 0px 1px 2px rgba(16,24,40,0.05);
      --te-shadow--sm: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
      --te-shadow--md: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
      --te-shadow--lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      --te-shadow--xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
      --te-shadow--2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
      --te-shadow--3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);


      /* Variables Previously set by the theme editor-- moved from theme.liquid */

      --media-padding: 8px;
      --media-border-opacity: 0.25;
      --media-border-width: 0px;
      --media-radius: 16px;

      --page-width: 1440px;
      --page-width-margin: 0rem;

      --card-image-padding: 0.5rem;
      --card-corner-radius: 1rem;
      --card-text-alignment: center;
      --card-border-width: 1rem;
      --card-border-opacity: 0;

      --badge-corner-radius: 40px;

      --popup-border-width: 16px;
      --popup-border-opacity: 1;
      --popup-corner-radius: 16px;

      --drawer-border-width: 1px;
      --drawer-border-opacity: 1;
      --drawer-shadow-opacity: 1;

      --spacing-sections-desktop: 2rem;
      --spacing-sections-mobile: 1.5rem;

      --grid-desktop-vertical-spacing: 96px;
      --grid-desktop-horizontal-spacing: 32px;
      --grid-mobile-vertical-spacing: 48px;
      --grid-mobile-horizontal-spacing: 16px;

      --text-boxes-border-opacity: 0;
      --text-boxes-border-width: 1px;
      --text-boxes-radius: 0px;
      --text-boxes-shadow-opacity: 0;

      --buttons-radius: 40px;
      --buttons-radius-outset: 0px;
      --buttons-border-width: 1px;
      --buttons-border-opacity: 1;
      --buttons-shadow-opacity: 1;

      --inputs-radius: 40px;
      --inputs-border-width: 1px;
      --inputs-border-opacity: 1;
      --inputs-shadow-opacity: 0;

      --variant-pills-radius: 40px;
      --variant-pills-border-width: 1px;
      --variant-pills-border-opacity: 1;
      --variant-pills-shadow-opacity: 0;
}



    /* Buttons - v2 Design System */

.te-button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  gap: 12px;
  border-radius: 40px;
  box-shadow: var(--te-shadow--xs);
  text-decoration: none;
}

.te-button--blue {
  background: rgb(var(--te-baby-blue--900));
  border: 1px solid rgb(var(--te-baby-blue--900));
  color: rgb(var(--te-base--white));
}

.te-button--green {
  background: rgb(var(--te-moss--600));
  border: 1px solid rgb(var(--te-moss--600));
  color: rgb(var(--te-base--white));
}

.te-button--line-gray {
  background-color: transparent;
  border: 1px solid rgb(var(--te-gray--800));
  color: rgb(var(--te-gray--800));
}

.te-button--solid-gray {
  border: 1px solid rgb(var(--te-gray--800));
  color: rgb(var(--te-base--white));
}

.te-button--line-white {
  background-color: transparent;
  border: 1px solid rgb(var(--te-base--white));
  color: rgb(var(--te-base--white));
}

.te-button--solid-white {
  background: rgb(var(--te-base--white));
  border: 1px solid rgb(var(--te-base--white));
  color: rgb(var(--te-gray--800));
}
    
    
    


    /* Color custom properties */

/* Set Base Background and Base Text colors here: using variables defined in base-variables.css */


/* Background Color Options available to the theme editor.  Use variables defined in base-variables.css */
:root,
.color--te-default {
  --color-foreground: var(--te-base--text);
  --color-background: var(--te-base--background);
}

.color--te-black-white {
  --color-foreground: var(--te-base--black);
  --color-background: var(--te-base--white);
}

.color--te-teal-dark {
  --color-foreground: var(--te-base--white);
  --color-background: var(--te-teal--800);
}

.color--te-teal-light {
  --color-foreground: var(--te-base--black);
  --color-background: var(--te-teal--50);
}

.color--te-cream-dark {
  --color-foreground: var(--te-base--black);
  --color-background: var(--te-base--cream-dark);
}

.color--te-silver-light {
  --color-foreground: var(--te-base--black);
  --color-background: var(--te-silver--300);
}

.color--te-silver-dark {
  --color-foreground: var(--te-base--black);
  --color-background: var(--te-silver--600);
}
/*-----------
.color-background-1 {
  --color-foreground: var(--te-base--text);
  --color-background: var(--te-base--background);
  --gradient-background: var(--gradient-base-background-1);
}

.color-background-2 {
  --color-foreground: var(--te-base--white);
  --color-background: var(--te-teal--800);
  --gradient-background: var(--gradient-base-background-2);
}

.color-inverse {
  --color-foreground: var(--color-base-background-1);
  --color-background: var(--color-base-text);
  --gradient-background: rgb(var(--color-base-text));
}

.color-accent-1 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: var(--color-base-accent-1);
  --gradient-background: var(--gradient-base-accent-1);
}

.color-accent-2 {
  --color-foreground: var(--color-base-solid-button-labels);
  --color-background: var(--color-base-accent-2);
  --gradient-background: var(--gradient-base-accent-2);
}
--------*/

.color-foreground-outline-button {
  --color-foreground: var(--color-base-outline-button-labels);
}

.color-foreground-accent-1 {
  --color-foreground: var(--color-base-accent-1);
}

.color-foreground-accent-2 {
  --color-foreground: var(--color-base-accent-2);
}

:root,
.color-background-1 {
  --color-link: var(--color-base-outline-button-labels);
  --alpha-link: 0.85;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-link: var(--color-foreground);
  --alpha-link: 0.7;
}

:root,
.color-background-1 {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
  --alpha-button-border: 1;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-button: var(--color-foreground);
  --color-button-text: var(--color-background);
}

.button--secondary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --color-button: var(--color-background);
  --alpha-button-background: 1;
}

.color-background-2 .button--secondary,
.color-accent-1 .button--secondary,
.color-accent-2 .button--secondary {
  --color-button: var(--color-background);
  --color-button-text: var(--color-foreground);
}

.color-inverse .button--secondary {
  --color-button: var(--color-background);
  --color-button-text: var(--color-foreground);
}

.button--tertiary {
  --color-button: var(--color-base-outline-button-labels);
  --color-button-text: var(--color-base-outline-button-labels);
  --alpha-button-background: 0;
  --alpha-button-border: 0.2;
}

.color-background-2 .button--tertiary,
.color-inverse .button--tertiary,
.color-accent-1 .button--tertiary,
.color-accent-2 .button--tertiary {
  --color-button: var(--color-foreground);
  --color-button-text: var(--color-foreground);
}

:root,
.color-background-1 {
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-foreground);
  --alpha-badge-border: 0.1;
}

.color-background-2,
.color-inverse,
.color-accent-1,
.color-accent-2 {
  --color-badge-background: var(--color-background);
  --color-badge-border: var(--color-background);
  --alpha-badge-border: 1;
}

:root,
.color-background-1,
.color-background-2 {
  --color-card-hover: var(--color-base-text);
}

.color-inverse {
  --color-card-hover: var(--color-base-background-1);
}

.color-accent-1,
.color-accent-2 {
  --color-card-hover: var(--color-base-solid-button-labels);
}

:root,
.color-icon-text {
  --color-icon: rgb(var(--color-base-text));
}

.color-icon-accent-1 {
  --color-icon: rgb(var(--color-base-accent-1));
}

.color-icon-accent-2 {
  --color-icon: rgb(var(--color-base-accent-2));
}

.color-icon-outline-button {
  --color-icon: rgb(var(--color-base-outline-button-labels));
}

.contains-card,
.card {
  --border-radius: var(--card-corner-radius);
  --border-width: var(--card-border-width);
  --border-opacity: var(--card-border-opacity);
  --shadow-horizontal-offset: var(--card-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--card-shadow-vertical-offset);
  --shadow-blur-radius: var(--card-shadow-blur-radius);
  --shadow-opacity: var(--card-shadow-opacity);
}

.contains-content-container,
.content-container {
  --border-radius: var(--text-boxes-radius);
  --border-width: var(--text-boxes-border-width);
  --border-opacity: var(--text-boxes-border-opacity);
  --shadow-horizontal-offset: var(--text-boxes-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--text-boxes-shadow-vertical-offset);
  --shadow-blur-radius: var(--text-boxes-shadow-blur-radius);
  --shadow-opacity: var(--text-boxes-shadow-opacity);
}

.contains-media,
.global-media-settings {
  --border-radius: var(--media-radius);
  --border-width: var(--media-border-width);
  --border-opacity: var(--media-border-opacity);
  --shadow-horizontal-offset: var(--media-shadow-horizontal-offset);
  --shadow-vertical-offset: var(--media-shadow-vertical-offset);
  --shadow-blur-radius: var(--media-shadow-blur-radius);
  --shadow-opacity: var(--media-shadow-opacity);
}


/*these need to be moved into the base.css or create TE base css file*/
.te-display {
  font-family: var(--te-font-family--heading);
  font-weight: 400;
}

.te-text {
  font-family: var(--te-font-family--body);
  font-weight: 500;
}

.te-display--2xl {
    font-size: 4.5rem;
    line-height: 5.625rem;
}

.te-display--xl {
    font-size: 3.75rem;
    line-height: 4.5rem;
}

.te-display--lg {
    font-size: 3rem;
    line-height: 3.75rem;
}

.te-display--med {
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.te-display--sm {
    font-size: 1.875rem;
    line-height: 2.375rem;
}

.te-display--xs {
    font-size: 1.5rem;
    line-height: 2rem;
}

.te-weight--display-light {
  font-weight: 300;
}

.te-weight--display-med {
  font-weight: 500;
}

.te-weight--display-semibold {
  font-weight: 600;
}

.te-weight--display-bold {
  font-weight: 700;
}

.te-text--xl {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.te-text--lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.te-text--md {
    font-size: 1rem;
    line-height: 1.5rem;
}

.te-text--sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.te-text--xs {
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.te-weight--text-regular {
  font-weight: 400;
}

.te-weight--text-semibold {
  font-weight: 600;
}

.te-weight--text-bold {
  font-weight: 700;
}

