.section--te-double-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: var(--te-container--xl);
}

.double-column__header--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  gap: 2em;
}

.double-column__header--titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}

.double-column__header--titles {
  text-transform: uppercase;
}

.double-column__content-container{
  display: flex;
  align-items: flex-start;
  padding: 0 2em;
  gap: 4em;
  border: 1px solid black;
}

.double-column__block-container {

  border: 1px palevioletred dotted;
}