
.section--te-image-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding-top: 6rem;
  max-width: var(--te-container--xl);
}

.banner__titles{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.banner__titles p {
  text-align: center;
  max-width: var(--te-container--md);
}


.banner__image {
  padding: 4em 0;
}
.banner__image img {
  border-radius: var(--media-radius);
}
