
.sect-te-feature-w-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 5rem;
  width: 100%;
  font-size: 1rem;
}

.fwi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100%;
}

.fwi-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16em;
  gap: 3em;
  width: 100%;
}

.fwi-title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 1.25em;
  width: 100%;
}

.fwi-heading,
.fwi-subtitle {
  text-align: center;
}



.fwi-card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2em;
  gap: 6em;
  width: 100%;
}

.fwi-card-container img{
  border-radius: var(--te-media-border-radius);
}

.fwi-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: rem;
}

.fwi-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1.25em;
}

  .fwi-icon-wrap {
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.fwi-card-text {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.fwi-cta-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}