/* features section */
.te-multigallery {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
}

/* first container */
.multi-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 2em;
  width: calc(100%-10rem);
  gap: 2em;
}

.mtc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: calc(100%-14rem);
  gap: 3em;
}

.mtc-content-headings-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 1em;
  max-width: calc(100% - 24em);
}

.mtc-content-title,
.mtc-content-subtitle {
  text-align: center;
}

.mtc-content-subtitle {
  font-family: var(--te-font-family--body);
  font-size: 1.25em;
  line-height: 150%;
  font-weight: 200;
  margin: 0;
  color: rgb(var(--te-teal--100));
}

/* second container */
.multi-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  gap: 3em;
  border: none;
  isolation: isolate;
}

/* Frame 10 */
.mgc--img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  isolation: isolate;
  width: 454px;
  height: 384px;
  transform: rotate(0deg);

  border: none;
}

/* Frame 7 */
.mgc--btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1216px;
  height: 48px;

  border: none;
}

.mg-btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  gap: .75em;
  border: none;
  border-radius: 40px;
  background-color: rgba(var(--te-base--white),0.1);
  color: rgba(var(--te-base--white),1);
  text-align: center;
  font-family: var(--te-font-family--body);
  font-weight: 500;
}

.mg-image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/*button:active {
}*/

/* Content 1 */
.mg-image-wrapper--1{
  position: absolute;
  width: 416px;
  height: 270px;
  left: -416px;
  top: 0px;
  background: rgb(var(--te-baby-blue--200));
  border-radius: 1rem;
}

/* Content 2 */
.mg-image-wrapper--2{
  position: absolute;
  width: 488px;
  height: 308px;
  left: -72px;
  top: 64px;
  transform: rotate(deg);
  border-radius: 1rem;
  box-shadow: var(--te-shadow-2xl);
  background: rgb(var(--te-baby-blue--400));
  order: 2;
  z-index: 2;
}

/* Content 3 */
.mg-image-wrapper--3{
  position: absolute;
  width: 414px;
  height: 270px;
  left: 346px;
  top: 0px;
  background: rgb(var(--te-baby-blue--600));
  border-radius: 1rem;
}

/* Content 4 */
.mg-image-wrapper--4{
  position: absolute;
  width: 240px;
  height: 196px;
  left: 628px;
  bottom: 12px;
  background: rgb(var(--te-baby-blue--800));
  border-radius: 1rem;
}

