.section--te-double-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: var(--te-container--xl);
}

.double-column__header--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2em;
  gap: 2em;
}

.double-column__header--titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}


/*---------  this is the container for the two content columns -----------*/
.double-column__content-container{
  display: flex;
  align-items: center;
  padding: 0 2em;
  gap: 4em;
}

.double-column__block-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.title-column{
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}



.double-column__bullet {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}