.plans-pricing__header-container {
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
  gap: 2em
}

.plans-pricing__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}


.plans-pricing__tabs-container {
  display: flex;
  width: 52%;
  margin: auto;
  align-items: center;
  padding: 6px;
  gap: 8px;

  background: rgba(var(--te-base--white), 0.5);
  border: 1px solid rgb(var(--te-gray--100));
  border-radius: 0.5em;
}

.plans-pricing__tab {
  display: grid;
  grid-template-columns: repeat(1fr);
  padding: 10px 14px;
  border-radius: 6px;
}

input[type="radio"] {
  display: none;
}

.plans-pricing__tab label {
  font-family: 'Raleway';
  color: rgb(var(--te-gray--400));
  font-weight: 400;
  box-shadow: none;

}

input[type="radio"]:checked + label {
  font-weight: 600;
  box-shadow: var(--te-shadow--sm);
  color: rgb(var(--te-gray--600));
  padding: 10px 14px;
}


.plans-pricing__card-container {
  padding: 0 1.5em;
  column-gap: 1.5em;
}

.plans-pricing__product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--te-gray--200));
  box-shadow: var(--te-shadow--lg);
  border-radius: var(--te-media-border-radius);
}

.product-card__header {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  border-bottom: 1px solid rgb(var(--te-gray--200));
}

.card-header__content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1em;
}

.content__title-badge {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.75em;
}

.card__badge {
  background: rgb(var(--te-moss--50));
  border-radius: var(--te-media-border-radius);
  text-align: center;
  padding: 4px 12px;
}

.card__cta {
  width: 100%;
  padding: 1em 1.75em;
  border-radius: 2.5em;
  box-shadow: var(--te-shadow--sm);
}

.product-card__features {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 2em 2.5em;
}

.feat__intro {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-card__feat-list li {
  padding: 6px 0;
}