.feat-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px;
  gap: 64px;
}

.feat-basic.feat-basic--full-width {
  max-width: initial;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  max-width: 768px;
}

.section__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.blocks-container{

}

.feat-basic__blocks {
  margin: auto;
  /* 2.5rem margin on left & right */
  width: calc(100% - 5rem / var(--font-body-scale));
}

.feat-basic__blocks * {
  overflow-wrap: break-word;
}

.feat-basic--full-width .feat-basic__blocks {
  /* 4rem (1.5rem + 2.5rem) margin on left & right */
  width: calc(100% - 8rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .feat-basic__blocks {
    max-width: 50rem;
  }

  .feat-basic--full-width .feat-basic__blocks {
    /* 7.5rem (5rem + 2.5rem) margin on left & right */
    width: calc(100% - 15rem);
  }
}

@media screen and (min-width: 990px) {
  .feat-basic__blocks {
    max-width: 78rem;
  }
}

/* Blocks */

.feat-basic__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.feat-basic__blocks > * + * {
  margin-top: 2rem;
}

.feat-basic__blocks > * + a {
  margin-top: 3rem;
}
