#onboarding {
  background-color: #f5f2ee;
}
.rec-form__container {
  display: block;
  margin: 2em;
  width: auto;
}

.rec-form__fields {
  text-align: center;
  font-family: var(--te-font-family--display);
}

.rec-form__fields p {
  font-family: var(--te-font-family--body);
}

.rec-form__fields label {
  display: block;
  padding: 1em;
}
.rec-form__fields input {
  padding: 10px 14px;
  border: 1px solid #D7D3D0;
  border-radius: var(--inputs-radius);
  box-shadow: var(--te-shadow--sm);
  max-width: 100%;
  min-width: 50%
}
.form-field {
  display: flex;
  flex-direction: column;
}

.rec-display__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  /* border: 1px black dotted; */
  width: 85%;
  margin: auto;
  
}

.rec-display__buttons{
  display: flex;
  align-items: center;

}

.rec-toy-card-container {
  width: 28vw;
  margin: auto;
  min-height: 15vh;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 2em;
}

.toy-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}
.toy-card__img-wrapper{
  margin: auto;
}

.toy-card__img-wrapper img {
  border-radius: 8px;
}

.rec-swap__available-display{
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.available-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 192px;
  height: 192px;
}

.available-card p{
  text-align: center;
}

.selected-toy {
  background-color: aqua;
}