.plans-pricing__header-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  gap: 2em
}

.plans-pricing__titles {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 12px;
}


.plans-pricing__tabs {
  width: 40%;
  margin: auto;
  align-items: center;
  padding: 6px;
  gap: 8px;

  background: rgba(var(--te-base--white), 0.5);
  border: 1px solid rgb(var(--te-gray--100));
}

.plans-pricing__card-container {
  padding: 0 1.5em;
  column-gap: 1.5em;
}

.plans-pricing__product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--te-gray--200));
  box-shadow: var(--te-shadow--lg);
  border-radius: var(--te-media-border-radius);
}