

.video-section__media {
  border: 1px dotted black;
  display: block;
  width: 100%;
  margin: auto;
  position: relative;
  padding-bottom: 56.25%;
}

.video-section__media.deferred-media {
  box-shadow: var(--te-shadow--xl);
}

.video-section__media.deferred-media:after {
  content: none;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  max-width: var(--te-container--xl);

  border: 0;
}

.video-section__poster,
.video-section__media iframe {
  position: absolute;
  width: 96vw;
  height: 100%;
  max-width: 1028px;
}
